/*1.============顶部===========*/
/*顶部外层容器*/
.topbar{
    height: 28px;
    background-color: #101010;
}
/*顶部里层容器*/
.topbar .container{
    height: 28px;
    background-color:#101010;
}
/*里面的P标签*/
.topbar .container p{
    height: 28px;
    line-height: 28px;
    color: #f1f1f1;
}
/*第一个P标签*/
.topbar .container p:first-child{
    text-indent: 210px;
}
/*第一个P标签下的a标签*/
.topbar .container p:first-child a{
    color:#fff;
    text-decoration: none;
 }
 /*第二个P标签*/
 .topbar .container p:nth-child(2){
    margin-right: 10px;
}
/*第二个P标签下的标题和注册*/
.topbar .container p:nth-child(2) a:not(.login){
    color: #ff6700;
}
/*第一个P标签下的登录*/
.topbar .container p:nth-child(2) .login {
    color:#fff;
}
/*2.===========导航============*/
.nav{
    height: 80px;
    background-color: #fff;
}
/*搜索购物车订单大容器*/
.nav .search-shopcart-order{
    height: 35px;
    margin-top: 5px;
}
/*搜索框*/
.nav .search-shopcart-order .search-input{
    width: 440px;
    height: 35px;
    background-color: #ff6700;
    margin-right: 38px;
    position: relative;
}
/*搜索框中的图标span*/
.nav .search-shopcart-order .search-input span{
    display: inline-block;
    width: 50px;
    height: 35px;
    position: absolute;
    right: 0;
    background-image: url("/Term_project_Git/img/bgicon.png");
}
/*搜索框*/
.nav .search-shopcart-order .search-input .search{
    width: 390px;
    height: 31px;
    border: 2px solid #ff6700;
    text-indent: 10px;
    color:#333;
    outline: none;
}
/*购物车和订单*/
.nav .search-shopcart-order .shopcart-order{
    width: 200px;
    height: 35px;
    font-size: 0;
}
/*购物车订单按钮*/
.nav .search-shopcart-order .shopcart-order button{
    width: 100px;
    height: 35px;
    background-color: #ebebeb;
    border: 1px solid #ccc;
    font-size: 12px;
    color: #333;

}
/*第一个按钮*/
.nav .search-shopcart-order .shopcart-order button:nth-child(1){
    background-color: #ff6700;
    color:#fff;
    padding-left: 3px;
}
/*购物车图标*/
.nav .search-shopcart-order .shopcart-order button:nth-child(1) span:first-child{
    background-image: url("/Term_project_Git/img/bui.png");
    background-size: 18px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    
    
}
/*购物车文字*/
.nav .search-shopcart-order .shopcart-order button:nth-child(1) span:nth-child(2){
    vertical-align: top;
    display: inline-block;
}
/*数量*/
.nav .search-shopcart-order .shopcart-order button:nth-child(1) span:nth-child(3){
    display: inline-block;
    width: 20px;
   margin-left: 5px;
}
/*分类导航*/
.nav .category-menu{
    height: 30px;
    background-color:#fff;
    margin-top: 15px;
}
.nav .category-menu .left-logo{
    width: 200px;
    height: 30px;
    position: relative;
}
.nav .category-menu .left-logo img{
    position: absolute;
    bottom:0;
    left:0;
}
.nav .category-menu ul{
    width: 1000px;
    height:30px;
    background-color:#fff;
}
.nav .category-menu ul li{
    float: left;
    height: 30px;
    line-height: 30px;
    width:70px;
    color:#333;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
}
/*3.============分类导航和banner=========*/
.menu{
    height: 430px;
}
.menu .sideMenu{
    height: 430px;
    width: 200px;
    background-color: red;
}
.menu .sideMenu ul{
    height: 430px;
    width:200px;
    background-color: #f3f3f3;
    position: relative;
}
.menu .sideMenu ul li{
    height: 30px;
    line-height: 30px;
    width:200px;
    text-indent: 20px;
}
.menu .sideMenu ul li a{
    color:#353535;
    text-decoration: none;
}
.menu .sideMenu ul li a:hover{
    color:#ff6700
}
.menu .sideMenu ul li:hover{
    background-color: #fff;
}
.menu .sideMenu ul li:hover a{
    color: #ff6700;
}
.menu .sideMenu ul li .title{
    width:200px;
    height: 30px;
    line-height: 30px;
}
.menu .sideMenu ul li:hover .title{
    background-color:#fff;
    position: absolute;
    z-index: 99;
}
.menu .sideMenu ul li:hover .subMenu{
    display: block;
}
.menu .sideMenu ul li .subMenu{
    position: absolute;
    left:198px ;
    top: 0;
    border: 2px solid #ff6700;
    width:500px;
    height:426px;
    display: none;
}
.menu .banner{
    height: 430px;
    width: 1000px;
}
/*4.============今日推荐============*/
.recommend{
    height: 544px;
}
.recommend .title{
    width: 1200px;
    height:40px;
    line-height: 40px;
    border-bottom: 6px solid #ff6700;
    margin-top: 10px;
    text-indent: 24px;
    font-size: 24px;
    color:#ff6700;
    font-weight: 300;
    background-color: #fff;
}
.recommend .recommend-content{
    width: 1190px;
    height: 498px;
    margin: 0 auto;
}
.recommend .recommend-content ul{
    width: 1190px;
    height: 498px;
    margin: 0 auto;
    background-color: #ff6700;
}
.recommend .recommend-content ul li{
    width: 196px;
    height: 247px;
    background-color: #fff;
    float: left;
    margin-left: 2px;
    margin-bottom: 2px;
}
.recommend .recommend-content ul li{
    text-align: center;
}
.recommend .recommend-content ul li p{
    text-align: left;
    text-indent: 10px;
    font-size: 14px;
}
.recommend .recommend-content ul li p.limit-time{
    text-align: left;
    text-indent: 0;
}
.recommend .recommend-content ul li p.text{
    color:red;
}
.recommend .recommend-content ul li p.price{
    color:red;
    margin-top: 5px;
    font-size: 20px;
    font-weight: 100px;

}
/*5.============电子书============*/
.ebook{
    height: 496px;
    margin-top: 34px;
}
.ebook .left-box{
    width: 906px;
    height: 496px;
}
.ebook .left-box .top{
    width: 906px;
    height: 40px;
    line-height: 40px;
    background-color:#fff;
    border-bottom: 6px solid #ff6700;

}
.ebook .left-box .top .title{
    text-indent: 24px;
   font-size: 28px;
    color:#101010;
    font-weight: 300;
}
.ebook .left-box .top ul li{
    float: left;
    font-size: 20px;
    width: 100px;
    text-align: center;
}
.ebook .left-box .top ul li.active{
    background-color: #ff6700;
    color:#fff;
}
.ebook .left-box .content{
    height: 450px;
    width: 906px;
    background-color:#ccc;
}
.ebook .left-box .content .ads{
    height: 450px;
    width: 236px;
    background-color: #f9f9f9;
}
.ebook .left-box .content .ads .top-img{
    width: 236px;
    height: 286px;
    background: red;
}
.ebook .left-box .content .ads .bottom-text{
    height: 160px;
    width: 236px;
}
.ebook .left-box .content .ads .bottom-text ul{
    width: 235px;
    height: 160px;
    margin-left: 1px;
}
.ebook .left-box .content .ads .bottom-text ul li{
    float:left;
    width: 78px;
    height: 40px;
    line-height: 40px;
    text-indent: 5px;
}
.ebook .left-box .content .ebooks-list{
    height: 450px;
    width: 670px;
    background-color: #ccc;
}
.ebook .left-box .content .ebooks-list>ul>li{
    float: left;
    height: 223px;
    width: 165px;
    background-color: #fff;
    margin-left: 2px;
    margin-bottom: 2px;
    text-align: center;
}
.ebook .left-box .content .ebooks-list>ul>li>p{
    text-align-last: left;
    text-indent: 10px;
}
.ebook .left-box .content .ebooks-list>ul>li>p:first-child{
    font-size: 18px;
}
.ebook .left-box .content .ebooks-list>ul>li>p>img{
    margin: 15px auto;
}
.ebook .left-box .content .ebooks-list>ul>li>p:not(:first-child){
    color: red;
}
.ebook .left-box .content .ebooks-list>ul>li>p:last-child{
    font-size: 18px;
    margin-top:17px;
}
.ebook .left-box .content .ebooks-list ul li:first-child{
    width: 332px;
    background-color: green;
    height: 223px;
}
.ebook .left-box .content .ebooks-list ul li:first-child .pptbox{
    width: 332px;
    height: 223px;
    background-color: pink;
}
.ebook .right-box{
    width:286px;
    height:455px;
    margin-top: 40px;
    border: 2px solid #ccc;
    box-sizing: border-box;
}
.ebook .right-box .title{
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    font-weight: 200px;
    color:#e3e3e3;
}
.ebook .right-box ul li{
    font-size: 14px;
    line-height: 42px;
    text-indent: 5px;
}
.ebook .right-box ul li .desc img{
    margin-right: 9px;
}
.ebook .right-box ul li .desc{
    font-size: 14px;
    line-height: 20px;
    height: 150px;
    color:#333;
    display:none;
}
.ebook .right-box ul li:first-child .ebooks-title{
    display:none;

}
.ebook .right-box ul li:first-child .desc{
    display: block;
}
.ebook .right-box ul li p:last-child{
    font-size: 12px;
    line-height: 16px;
}
/*6.============服装============*/
.clothes{
    margin-top: 30px;
    height: 601px;
}
.clothes .roof{
    width: 1200px;
    height: 39px;
    line-height: 40px;
    background-color:#fff;
    border-bottom: 6px solid #ff6700;

}
.clothes .roof .caption{
    text-indent: 24px;
    font-size: 28px;
    color:#101010;
    font-weight: 300;
}
.clothes .roof ul li{
    float: left;
    font-size: 20px;
    width: 100px;
    text-align: center;
}
.clothes .roof ul li.active{
    background-color: #ff6700;
    color:#fff;
}
.clothes .leftbox{
    width: 236px;
    height: 495px;
}
.clothes .main{
    width:1200px;
    height:491px;
}
.clothes .main .leftbox{
    height:491px;
    width:236px;
}
.clothes .main .leftbox .matter{
    height: 491px;
    width: 236px;
  
}
.clothes .main .leftbox .matter .clothes-ads{
    height: 491px;
    width: 236px;
    background-color: #f9f9f9;
}
.clothes .main .leftbox .matter .clothes-ads .main{
    width:964px;
    height:491px;
}
.clothes .main .leftbox .matter .clothes-ads .roof-img{
    width: 236px;
    height: 348px;
}
.clothes .main .leftbox .matter  .menu-bar{
    height: 170px;
    width: 237px;
}
.clothes .main .leftbox .matter  .menu-bar ul{
    width: 235px;
    height: 147px;
    margin-left: 1px;
}
.clothes .main .leftbox .matter .menu-bar ul li{
    float:left;
    width: 78px;
    height: 40px;
    line-height: 18px;
    text-indent: 5px;
}
.clothes .main .rightbox-main{
    width:964px;
    height:491px;
    
}
.clothes .main .rightbox .rightbox-main .slideshow{
    width:482px;
    height:470px;
    
}
.clothes .main .rightbox .rightbox-main .slideshow ul li:nth-child(1){
    width:482px;
    height:334px;
  
}
.clothes .main .rightbox .rightbox-main .slideshow ul li:last-child{
    width:482px;
    height:157px;
    
}
.clothes .main .rightbox .rightbox-main .master{
    width:482px;
    height:491px;
   
}
.clothes .main .rightbox .rightbox-main .master .master-up{
    width:481px;
    height: 334px;
   
    
}
.clothes .main .rightbox .rightbox-main .master .master-up ul{
    display: table;
    text-align: center;
}
.clothes .main .rightbox .rightbox-main .master .master-up ul li{
    border: 1px solid #ccc;
    width: 158px;
    height: 334px;
    float: left;

}
.clothes .main .rightbox .rightbox-main .master .master-up ul li img{
    width: 158px;
    height: 334px;
}
.clothes .main .rightbox .rightbox-main .master .master-down{
    width:482px;
    height: 200px;
 
}
.clothes .main .rightbox .rightbox-main .master .master-down ul{
    list-style: none;
}
.clothes .main .rightbox .rightbox-main .master .master-down ul li{
    border: 1px solid #ccc;
    display: block;
    width:158px;
    height:154px;
    float: left;
}
.clothes .main .rightbox .rightbox-main .master .master-down ul li img{
    width:158px;
    height:154px;
}
.clothes .main .rightbox .rightbox-main .slideshow ul li img{
    width: 482px;
    height: 157px;
}
.clothes .base{
    width: 1200px;
    height:64px;
}
.clothes .base  img{
    float: left;
}
/*7.============户外运动============*/
.sport{
    margin-top: 30px;
    height: 601px;
}
.sport .roof{
    width: 1200px;
    height: 40px;
    line-height: 40px;
    background-color:#fff;
    border-bottom: 6px solid #ff6700;

}
.sport .roof .caption{
    text-indent: 24px;
    font-size: 24px;
    color:#ff6700;
    font-weight: 300;
}
.sport .roof ul li{
    float: left;
    font-size: 20px;
    width: 100px;
    text-align: center;
}
.sport .roof ul li.active{
    background-color: #ff6700;
    color:#fff;
}
.sport .leftbox{
    width: 236px;
    height: 495px;
}
.sport .roof{
    width: 1200px;
    height: 40px;
    line-height: 40px;
    background-color:#fff;
    border-bottom: 6px solid #ff6700;

}
.sport .roof .caption{
    text-indent: 24px;
    font-size: 28px;
    color:#101010;
    font-weight: 300px;
}
.sport .roof ul li{
    float: left;
    font-size: 20px;
    width: 100px;
    text-align: center;
}
.sport .roof ul li.active{
    background-color: #ff6700;
    color:#fff;
}
.sport .main{
    width:1200px;
    height:491px;
}
.sport .main .leftbox{
    height:491px;
    width:236px;
}
.sport .main .leftbox .matter{
    height: 491px;
    width: 236px;
  
}
.sport .main .leftbox .matter .sport-ads{
    height: 491px;
    width: 236px;
}
.sport .main .leftbox .matter .sport-ads .main{
    width:964px;
    height:491px;
}
.sport .main .leftbox .matter .sport-ads img{
    width: 236px;
    height: 350px;
}
.sport .main .leftbox .matter  .menu-bar{
    height: 170px;
    width: 237px;
}
.sport .main .leftbox .matter  .menu-bar ul{
    width: 235px;
    height: 147px;
    margin-left: 1px;
}
.sport .main .leftbox .matter .menu-bar ul li{
    float:left;
    width: 78px;
    height: 40px;
    line-height: 18px;
    text-indent: 5px;
}
.sport .main .rightbox-main{
    width:964px;
    height:491px;
}
.sport .main .rightbox .rightbox-main .slideshow{
    width:482px;
    height:470px;
}
.sport .main .rightbox .rightbox-main .slideshow ul li:nth-child(1){
    width:482px;
    height:334px;
}
.sport .main .rightbox .rightbox-main .slideshow ul li:last-child{
    width:482px;
    height:157px;
}
.sport .main .rightbox .rightbox-main .master{
    width:482px;
    height:492px;
}
.sport .main .rightbox .rightbox-main .master .master-up{
    width:482px;
    height: 270px;
    
}
.sport .main .rightbox .rightbox-main .master .master-up ul{
    list-style: none;
}
.sport .main .rightbox .rightbox-main .master .master-up ul li{
    border: 1px solid #ccc;
    width: 158px;
    height: 334px;
    display: block;
    float: left;
}
.sport .main .rightbox .rightbox-main .master .master-up ul li img{
    width: 158px;
    height: 334px;
}
.sport .main .rightbox .rightbox-main .master .master-down{
    width:482px;
    height: 200px;
 
}
.sport .main .rightbox .rightbox-main .master .master-down ul{
    list-style: none;
}
.sport .main .rightbox .rightbox-main .master .master-down ul li{
    border: 1px solid #ccc;
    display: block;
    width:158px;
    height:154px;
    float: left;
}
.sport .main .rightbox .rightbox-main .master .master-down ul li img{
    width:158px;
    height:154px;
}
.sport .main .rightbox .rightbox-main .slideshow ul li img{
    width: 482px;
    height: 157px;
}
.sport .base{
    width: 1200px;
    height:70px;
}
.sport .base  img{
    float: left;
}
/*8.============童装============*/
.children-clothes{
    margin-top: 30px;
    height: 601px;
}
.children-clothes .roof{
    width: 1200px;
    height: 40px;
    line-height: 40px;
    background-color:#fff;
    border-bottom: 6px solid #ff6700;

}
.children-clothes .roof .caption{
    text-indent: 24px;
    font-size: 28px;
    color:#101010;
    font-weight: 300;
}
.children-clothes .roof ul li{
    float: left;
    font-size: 20px;
    width: 100px;
    text-align: center;
}
.children-clothes .roof ul li.active{
    background-color: #ff6700;
    color:#fff;
}
.children-clothes .leftbox{
    width: 236px;
    height: 495px;
}

.children-clothes .main{
    width:1200px;
    height:491px;
}
.children-clothes .main .leftbox{
    height:491px;
    width:236px;
}
.children-clothes .main .leftbox .matter{
    height: 491px;
    width: 236px;
  
}
.children-clothes .main .leftbox .matter .children-clothes-ads{
    height: 491px;
    width: 236px;
    background-color: #f9f9f9;
}
.children-clothes .main .leftbox .matter .children-clothes-ads .main{
    width:964px;
    height:491px;
}
.children-clothes .main .leftbox .matter .children-clothes-ads img{
    width: 236px;
    height: 350px;
}
.children-clothes .main .leftbox .matter  .menu-bar{
    height: 170px;
    width: 237px;
}
.children-clothes .main .leftbox .matter  .menu-bar ul{
    width: 235px;
    height: 147px;
    margin-left: 1px;
}
.children-clothes .main .leftbox .matter .menu-bar ul li{
    float:left;
    width: 78px;
    height: 40px;
    line-height: 18px;
    text-indent: 5px;
}
.children-clothes .main .rightbox-main{
    width:964px;
    height:491px;
    
}
.children-clothes .main .rightbox .rightbox-main .slideshow{
    width:482px;
    height:470px;
   
}
.children-clothes .main .rightbox .rightbox-main .slideshow ul li:nth-child(1){
    width:482px;
    height:334px;
    
}
.children-clothes .main .rightbox .rightbox-main .slideshow ul li:last-child{
    width:482px;
    height:157px;
    
}
.children-clothes .main .rightbox .rightbox-main .master{
    width:482px;
    height:492px;
    
}
.children-clothes .main .rightbox .rightbox-main .master .master-up{
    width:482px;
    height: 270px;
    
    
}
.children-clothes .main .rightbox .rightbox-main .master .master-up ul{
    list-style: none;
}
.children-clothes .main .rightbox .rightbox-main .master .master-up ul li{
    border: 1px solid #ccc;
    width: 158px;
    height: 334px;
    display: block;
    float: left;
}
.children-clothes .main .rightbox .rightbox-main .master .master-up ul li img{
    width: 158px;
    height: 334px;
}
.children-clothes .main .rightbox .rightbox-main .master .master-down{
    width:482px;
    height: 200px;
}
.children-clothes .main .rightbox .rightbox-main .master .master-down ul{
    list-style: none;
}
.children-clothes .main .rightbox .rightbox-main .master .master-down ul li{
    border: 1px solid #ccc;
    display: block;
    width:158px;
    height:154px;
    float: left;
    
}
.children-clothes .main .rightbox .rightbox-main .master .master-down ul li img{
    width:158px;
    height:154px;
}
.children-clothes .main .rightbox .rightbox-main .slideshow ul li img{
    width: 482px;
    height: 157px;
}
.children-clothes .base{
    width: 1200px;
    height:64px;
}
.children-clothes .base  img{
    float: left;
}
/*9.============家居日用============*/
.daily{
    margin-top: 30px;
    height: 600px;
}
.daily .roof{
    width: 1200px;
    height: 40px;
    line-height: 40px;
    background-color:#fff;
    border-bottom: 6px solid #ff6700;
}
.daily .roof .caption{
    text-indent: 24px;
    font-size: 28px;
    color:#101010;
    font-weight: 300;
}
.daily .main{
    width: 1200px;
    height:500px;
}
.daily .main .leftbox{
    width: 498px;
    height: 500px;
    border:1px solid #ccc;
}
.daily .main .leftbox ul li img{
    width: 498px;
    height:500px;
}
.daily .main .rightbox{
    width: 700px;
    height: 500px;
}
.daily .main .rightbox .master{
    width: 700px;
    height: 500px;
    background-color: pink;
}
.daily .main .rightbox .master .master-up{
    width: 700px;
    height:300px;
}
.daily .main .rightbox .master .master-up ul{
    display: table;
    text-align: center;
}
.daily .main .rightbox .master .master-up ul li{
    width: 173px;
    height:300px;
    float: left;
    border: 1px solid #ccc;
}
.daily .main .rightbox .master .master-up ul li img{
    height:300px;
    width:173px;
}
.daily .main .rightbox .master .master-down{
    width: 700px;
    height:200px;
}
.daily .main .rightbox .master .master-down ul{
    display: table;
    text-align: center;
}
.daily .main .rightbox .master .master-down ul li{
    width: 173px;
    height:200px;
    float: left;
    border: 1px solid #ccc;
}
.daily .main .rightbox .master .master-down ul li img{
    width:173px;
    height:199px;
}
/*10.============推广商品============*/
.promotion{
    height: 650px;
}
.promotion .roof{
    width: 1200px;
    height: 40px;
    line-height: 40px;
    background-color:#fff;
    border-bottom: 6px solid #ff6700;
}
.promotion .roof ul li{
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    margin-right:5px;
    text-align: right;
}
.promotion .roof ul li.active{
    background-color: #ff6700;
}
.promotion .roof .caption{
    text-indent: 24px;
    font-size: 28px;
    color:#ff6700;
    font-weight: 300;
}

.promotion .main{
    width:1200px;
    height: 640px;
    background-color: #fff;
}
/*外部盒子*/
.promotion .main .out-box{
    width:1170px;
    height: 600px;
    /*超出隐藏*/
    overflow: hidden;
}
/*里部盒子*/
.promotion .main .out-box .inner-box{
    width:2340px;
    height:600px;
    /*定位*/
    position: relative;
    left:0;
}
/*.promotion .main ul{
    display: table;
    text-align: center;
   
}*/
.promotion .main .promotion-list{
    width:1170px;
    height: 600px;
   
}
.promotion .main .promotion-list li{
    width: 205px;
    height:300px;
    float: left;
    margin-left: 25px;
    background-color: #fff;
    box-sizing: border-box;
    text-align: center;
    padding-top: 25px;
}
.promotion .main ul li p{
    text-align: center;
    text-indent: 10px;
    font-size: 16px;
}

.promotion .main ul li p.limit-time span{
    color: red;
}

.promotion .main ul li p.price{
    color: red;
    font-size: 20px;
    margin-top: 5px;
    font-weight: 120px;
}

/*11.============尾部============*/
.footer {
    height: 550px;
    margin-top: 30px;
}

.footer .footer-img {
    float: right;
    height: 50px;
    margin-right: 100px;
}

.footer .top {
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    padding-top: 10px;
    text-indent: 24px;
    font-size: 24px;
    font-weight: 300;
    color: #ff6700;
    border-bottom: 6px solid #ff6700;
}

.footer .one-banner {
    height: 94px;
}

.footer .one-banner ul {
    margin-left: 200px;
}

.footer .one-banner ul li {
    width: 150px;
    height: 90px;
    float: left;
    padding-left: 80px;
    position: relative;
}

.footer .one-banner ul li img {
    position: absolute;
    /*相对定位*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /*使其垂直居中*/
}

.footer .two-banner {
    height: 200px;
}

.footer .two-banner .text {
    margin-left: 200px;
    padding-top: 40px;
}

.footer .two-banner .text li {
    float: left;
    margin-left: 30px;
    text-indent: 50px
}

.footer .two-banner .text li h1 {
    font-size: 20px;
    font-weight: 60px;
    text-align: center;
}

.footer .two-banner .text li p {
    font-size: 16px;
    color: darkgray;
    padding-top: 10px;
}

.footer .third {
    height: 80px;
}

.footer .third .third-text {
    margin-left: 180px;
    padding-left: 30px;
}

.footer .third .third-text li {
    float: left;
    text-indent: 40px;
    font-size: 16px
}

.footer .third .third-text li span {
    margin-left: 10px;
}

.footer .third .third-text p {
    text-align: center;
    font-size: 16px;
    padding-top: 30px;
    margin-right: 390px;
}

.footer .logo {
    width: 180px;
    height: 100px;
    float: right;
    right: 200px;
    bottom: 250px;
    position: relative;
}

.footer .logo img {
    width: 180px;
    height: 100px;
}
/*返回顶部*/
.backToTop{
    width:30px;
    height:50px;
    background-color: red;
    position: fixed;
    bottom:100px;
    margin-left: 50%;
    left:610px;
    display: none;
}
.backToTop img{
    width: 100%;
    height:100;
}